<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.creditaudit.mapper.CreditAuditMapper">

    <!--分页查询 -->
    <select id="queryPage" parameterType="com.zr.creditaudit.dto.CreditAuditSelectVo" resultType="com.zr.creditaudit.pojo.CreditAudit">
        select id,
            auditPersonName,
            auditSum,
            auditPassNum,
            auditPassRat,
            auditFailNum,
            auditFailRat,
            caseRefuseNum,
            caseRefuseRat,
            caseCancelNum,
            caseCancelRat,
            createTime,
            createName,
            updateTime,
            updateName
        FROM creditaudit
        <where>
        <if test="auditPersonName!=null and auditPersonName!=''">
            and auditPersonName = #{auditPersonName}
        </if>
        <if test="createTimeBegin!=null">
            and createTime >= #{createTimeBegin}
        </if>
        <if test="createTimeOver!=null">
            and #{createTimeOver} >= createTime
        </if>
        </where>
        limit #{offset},#{pageSize}
    </select>

    <!-- 带条件查询总数量 -->
    <select id="queryCount" parameterType="com.zr.creditaudit.dto.CreditAuditSelectVo" resultType="java.lang.Integer">
        select count(id) FROM creditaudit
        <where>
            <if test="auditPersonName!=null and auditPersonName!=''">
                and auditPersonName = #{auditPersonName}
            </if>
            <if test="createTimeBegin!=null">
                and createTime >= #{createTimeBegin}
            </if>
            <if test="createTimeOver!=null">
                and #{createTimeOver} >= createTime
            </if>
        </where>
    </select>
    <!--处理小于号问题
    <if test="createEndTime!=null">
        <![CDATA[ and t.createTime <=#{createEndTime} ]]>
    </if>-->



</mapper>


