<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.jinjiansource.mapper.JinJianSourceMapper">

    <!--分页查询 -->
    <select id="queryPage" parameterType="com.zr.jinjiansource.dto.JinJianSourceSelectVo" resultType="com.zr.jinjiansource.pojo.JinJianSource">
        select id,
            merchant,
            customerName,
            orderNum,
            idCode,
            incomingPartsTime,
            incomingPartsProvince,
            incomingPartsCity,
            specificAddress,
            createTime,
            createName,
            updateTime,
            updateName
        FROM jinjiansource
        <where>
        <if test="customerName!=null and customerName!=''">
            and customerName = #{customerName}
        </if>
        <if test="merchant!=null and merchant!=''">
            and merchant = #{merchant}
        </if>
        <if test="incomingPartsTimeBegin!=null">
            and incomingPartsTime >= #{incomingPartsTimeBegin}
        </if>
        <if test="incomingPartsTimeOver!=null">
            and #{incomingPartsTimeOver} >= incomingPartsTime
        </if>
        </where>
        limit #{offset},#{pageSize}
    </select>

    <!-- 带条件查询总数量 -->
    <select id="queryCount" parameterType="com.zr.jinjiansource.dto.JinJianSourceSelectVo" resultType="java.lang.Integer">
        select count(id) FROM jinjiansource
        <where>
            <if test="customerName!=null and customerName!=''">
                and customerName = #{customerName}
            </if>
            <if test="merchant!=null and merchant!=''">
                and merchant = #{merchant}
            </if>
            <if test="incomingPartsTimeBegin!=null">
                and incomingPartsTime >= #{incomingPartsTimeBegin}
            </if>
            <if test="incomingPartsTimeOver!=null">
                and #{incomingPartsTimeOver} >= incomingPartsTime
            </if>
        </where>
    </select>
    <!--处理小于号问题
    <if test="createEndTime!=null">
        <![CDATA[ and t.createTime <=#{createEndTime} ]]>
    </if>-->
    <select id="queryByJinJianSourceOutputVo" parameterType="com.zr.jinjiansource.dto.JinJianSourceOutputVo" resultType="com.zr.jinjiansource.dto.JinJianSourceOutputVo">
        select merchant,
            customerName,
            orderNum,
            idCode,
            incomingPartsTime,
            incomingPartsProvince,
            incomingPartsCity,
            specificAddress
        <where>
            <if test="orderNum!=null and orderNum!=''">
                and orderNum = #{orderNum}
            </if>
            <if test="idCode!=null and idCode!=''">
                and idCode = #{idCode}
            </if>
            <if test="incomingPartsProvince!=null and incomingPartsProvince!=''">
                and incomingPartsProvince = #{incomingPartsProvince}
            </if>
            <if test="incomingPartsCity!=null and incomingPartsCity!=''">
                and incomingPartsCity = #{incomingPartsCity}
            </if>
            <if test="specificAddress!=null and specificAddress!=''">
                and specificAddress = #{specificAddress}
            </if>
            <if test="customerName!=null and customerName!=''">
                and customerName = #{customerName}
            </if>
            <if test="merchant!=null and merchant!=''">
                and merchant = #{merchant}
            </if>
            <if test="incomingPartsTime!=null">
                and incomingPartsTime = #{incomingPartsTime}
            </if>
        </where>
          FROM jinjiansource
    </select>
    <select id="queryCountByJinJianSourceOutputVo" parameterType="com.zr.jinjiansource.dto.JinJianSourceOutputVo" resultType="java.lang.Integer">
        select count(id) FROM jinjiansource
        <where>
            <if test="orderNum!=null and orderNum!=''">
                and orderNum = #{orderNum}
            </if>
            <if test="idCode!=null and idCode!=''">
                and idCode = #{idCode}
            </if>
            <if test="incomingPartsProvince!=null and incomingPartsProvince!=''">
                and incomingPartsProvince = #{incomingPartsProvince}
            </if>
            <if test="incomingPartsCity!=null and incomingPartsCity!=''">
                and incomingPartsCity = #{incomingPartsCity}
            </if>
            <if test="specificAddress!=null and specificAddress!=''">
                and specificAddress = #{specificAddress}
            </if>
            <if test="customerName!=null and customerName!=''">
                and customerName = #{customerName}
            </if>
            <if test="merchant!=null and merchant!=''">
                and merchant = #{merchant}
            </if>
            <if test="incomingPartsTime!=null">
                and incomingPartsTime = #{incomingPartsTime}
            </if>
        </where>
    </select>



</mapper>


