<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.mechant.mapper.MechantMapper">
    <select id="queryPage" parameterType="com.zr.mechant.model.MechantSelectVo" resultType="com.zr.mechant.model.MechantInfo">
        select a.merchantName,a.merchantAddress,b.channelMaintenance,c.startTime,c.endTime,d.status,a.id
        FROM mechant a LEFT JOIN mechant_configure b ON a.merchantName = b.landingAccount
        LEFT JOIN mechant_pic c ON a.id = c.mechant_id
        LEFT JOIN mechant_speedprogress d ON a.id = d.mechant_id
        <if test="merchantName!=null and merchantName!=''">
            and merchantName=#{merchantName}
        </if>
        <if test="channelMaintenance!=null and channelMaintenance!=''">
            and channelMaintenance=#{channelMaintenance}
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
        limit #{offset},#{pageSize}
    </select>

    <!--总条数-->
    <select id="queryCount" parameterType="com.zr.mechant.model.MechantSelectVo" resultType="java.lang.Integer">
        select count(*)
    FROM mechant WHERE 1=1
        <if test="merchantName!=null and merchantName!=''">
            and merchantName=#{merchantName}
        </if>
        <if test="channelMaintenance!=null and channelMaintenance!=''">
            and channelMaintenance=#{channelMaintenance}
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
    </select>

    <!--批量添加-->
    <insert id="addMp" parameterType="java.util.List">
        insert into mechant_Pic (startTime,endTime) VALUES
        <foreach collection="list" item="item" open="(" separator="),(" close=")">
            #{item.startTime},#{item.endTime}
        </foreach>
    </insert>
    <insert id="addMo" parameterType="java.util.List">
        insert into mechant_Other (pic) VALUES
        <foreach collection="list" item="item" open="(" separator="),(" close=")">
            #{item.pic}
        </foreach>
    </insert>

    <insert id="addMs" parameterType="java.util.List">
        insert into mechant_speedprogress (management,remark,status,code) VALUES
        <foreach collection="list" item="item" open="(" separator="),(" close=")">
            #{item.management},#{item.remark},#{item.status},#{item.code}
        </foreach>
    </insert>

    <!--批量修改-->

    <update id="updatePicList" parameterType="com.zr.mechant.model.Mechant_Pic">
        <foreach collection="list" item="item" separator=";">
            UPDATE  mechant_Pic SET startTime=#{item.startTime},endTime=#{item.endTime} WHERE id =#{item.id}
        </foreach>
    </update>

    <update id="updateOtherList" parameterType="com.zr.mechant.model.Mechant_Other">
        <foreach collection="list" item="item" separator=";">
            UPDATE  mechant_Other SET pic=#{item.pic} WHERE id =#{item.id}
        </foreach>
    </update>

    <update id="updateSpeedProgressList" parameterType="com.zr.mechant.model.Mechant_SpeedProgress">
        <foreach collection="list" item="item" separator=";">
            UPDATE  mechant_speedprogress SET management=#{item.management},remark=#{item.remark},status=#{item.status},code=#{item.code} WHERE id =#{item.id}
        </foreach>
    </update>








</mapper>


