<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.xinshenstatistics.mapper.XinshenstatisticsMapper">
    <select id="queryPage" parameterType="com.zr.xinshenstatistics.pojo.XinshenstatisticsVO" resultType="com.zr.xinshenstatistics.pojo.Xinshenstatistics">
        select xx.id,xx.channel,xx.auditors,xx.managemen,xx.scopeOfBusiness
        FROM xinshenstatistics xx LEFT JOIN  riskreserve_capitalside rc ON xx.managemen = rc.id
        where 1=1
        <if test="channel!=null and channel!=''">
            and xx.channel =#{channel}
        </if>
        <if test="auditors!=null and auditors!=''">
            and xx.auditors =#{auditors}
        </if>
        <if test="managemen!=null and managemen!=''">
            and xx.managemen =#{managemen}
        </if>
        <if test="scopeOfBusiness!=null and scopeOfBusiness!=''">
            and xx.scopeOfBusiness =#{scopeOfBusiness}
        </if>
        limit #{offset},#{pageSize}
    </select>

    <!--总条数-->
    <select id="queryCount" parameterType="com.zr.xinshenstatistics.pojo.XinshenstatisticsVO" resultType="java.lang.Integer">
        select count(xx.id)
    FROM xinshenstatistics xx LEFT JOIN  riskreserve_capitalside rc ON xx.managemen = rc.id
        WHERE 1=1
        <if test="channel!=null and channel!=''">
            and xx.channel =#{channel}
        </if>
        <if test="auditors!=null and auditors!=''">
            and xx.auditors =#{auditors}
        </if>
        <if test="managemen!=null and managemen!=''">
            and xx.managemen =#{managemen}
        </if>
        <if test="scopeOfBusiness!=null and scopeOfBusiness!=''">
            and xx.scopeOfBusiness =#{scopeOfBusiness}
        </if>
    </select>
    <select id="queryBySelectVo" parameterType="com.zr.xinshenstatistics.pojo.XinshenstatisticsVO"
            resultType="com.zr.xinshenstatistics.pojo.Xinshenstatistics">
        select *
        FROM xinshenstatistics
        where 1=1
        <if test="channel!=null and channel!=''">
            and channel =#{channel}
        </if>
        <if test="auditors!=null and auditors!=''">
            and auditors =#{auditors}
        </if>
        <if test="managemen!=null and managemen!=''">
            and managemen =#{managemen}
        </if>
        <if test="scopeOfBusiness!=null and scopeOfBusiness!=''">
            and scopeOfBusiness =#{scopeOfBusiness}
        </if>
        <if test="startTime!=null and startTime!=''">
            and applyTime >=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and #{endTime} >=applyTime
        </if>
        <if test="loanTime!=null and loanTime!=''">
            and loanTime =#{loanTime}
        </if>
    </select>

</mapper>


