*{ margin:0; padding:0;}
body{ font-size:12px; font-family:微软雅黑;font-style:normal;}
a{ text-decoration:none}
/*a,a:hover{  transition:background 0.5s linear;-webkit-transition:background 0.5s linear;-moz-transition:background 0.5s linear;-o-transition:background 0.5s linear;}*/
em, i{font-style: normal;}
ul, ol, li{list-style: none;}
img{ border:none;}
input,select,textarea{outline:none;border:none;background:none;}
textarea{resize:none;}
p{line-height:22px;}
.fl{float: left;}
.fr{float: right;}
.clear{ clear:both; height:0px; width:100%; overflow:hidden;}
.position{position:relative;}
.common_page a{
    font-size: 14px;
    color: #666;
    padding: 10px;
    border:1px solid #ccc;
}
.common_page .active{
    background: blue;
    color: #fff;
}